
@{
    ViewBag.Title = "MoviePage";
}

<h2>MoviePage</h2>

<div class="container-fluid">
    <div class="row">
        <h2>Movie Data Entry</h2>

    </div>

    <div class="row col-lg-12">
        <div class="col-lg-2">
            <label>Movie Name</label>
        </div>
        <div class="col-lg-2">
            <input type="text" id="tbMovieTitle"/>
        </div>
    </div>


    </div>
